.cmp-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(#000, 0);
    backdrop-filter: blur(10px);
    border: unset;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid rgba($color: #000000, $alpha: 1.0);
        
        .header {
            font-size: 24px;
        }

        .close  {
            padding: 12px;
            width: 120px;
            text-align: center;
            border-radius: 4px;
            border: 1px solid rgba(#fff, 0.2);
            color: rgba(#fff, 0.5);
            transition: all 0.3s ease;
            &:hover {
                cursor: pointer;
                background-color: rgba(#fff, 0.5);
                color: rgba(#000, 0.75)
            }
        }
    }

    .modal {
        border-radius: 8px;
        padding: 24px;
        background-color: rgba(#fff, 0.2);
        backdrop-filter: blur(10px);
        width: 80vw;
        height: 80vh;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}